{
    "Zabbix": {
        "URL": "http://localhost",
        "User": "apiUser",
        "Pass": "apiPass"
    },
    "containerTemplate": "Template Docker Container",
    "groupTemplate": "Template Docker Group",
    "metaHostGroup": "Docker Container Services"
}
